/*ヘッダー部の成形*/
.TitleBloc {
	background-color: #F5A9F2;
	color: #6E6E6E;
	height: 90px
}

.TitleLogo {
	color: #8258FA;
	font-size: 36px;
	float: left;
	padding: 20px 40px
}

.TitleList {
	float: left
}

.TitleList li {
	color: #6E6E6E;
	list-style: none;
	padding: 33px 20px;
	float: left
}